/* Style for app container */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background: #f3efd4;
  border-top: 25px;
  border-bottom: 10px;
  border-right: 16px;
  border-left: 16px;
  border-style: solid;
  border-color: #f3efd4;
}
